# Ignore node_modules in both client and server directories
/client/node_modules/
/server/node_modules/


# Ignore package-lock.json in both client and server directories
/client/package-lock.json
/server/package-lock.json