# Ignore node_modules in both client and server directories
/Client/node_modules/
/Server/node_modules/


# Ignore package-lock.json in both client and server directories
/Client/package-lock.json
/Server/package-lock.json